/* this is styling from dashboard */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

:root {
  --purple: #8C88FA;
  --pink: #FF95FE;
  --bgColor: #F0F3F8;
  --lightBlue: #c6dcff;
}

html,body{
  width: 100%;
  min-height: 100vh;
}

body {
  background-color: var(--bgColor);
}

.top-nav {
  width: 100%;
  background-color: #fff;
  z-index: 10;
  padding: 0rem 5%;
}
.top-nav-inner {
  display: flex;
}
  .top-nav h1 {
      margin-right: 1rem;
      align-self: center;
      padding-left: 0.25rem;
  }
  .top-nav h1 span:first-child {
      color: var(--purple);
  }
  .top-nav h1 span:last-child {
      color: var(--pink);
  }
  .top-nav a {
      margin-left: auto;
      margin-right: 0.5rem;
      display: inline-block;
      align-self: center;
      text-decoration: none;
      font-size: 1.15rem;
      color: var(--purple);
  }
  .top-nav a:hover {
      border-bottom: 2px solid var(--purple);
      color: var(--pink);
      transition: all 100ms ease-in-out;
  }



/* this is styling from dashboard */










/* import from style.css */




#log-pop-top h3 {
  text-align: center;
  padding: 1rem;
}

#calendar-tbl {
  margin: 0 5%;
  background-color: var(--lightBlue);
  border-radius: 0.5rem;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  width: 90%;
  padding: 1.5rem;
}

.btn-container {
  width: 100%;
  text-align: center;
}

.btn-container button {
  margin: 1rem 0 6rem 0;
  outline: none;
  padding: 8px 25px;
  border-radius: 1.25rem;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.btn-container button:first-child {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(211,227,255,1) 100%);
}
.btn-container button:last-child {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(244,206,255,1) 100%);
}
.btn-container button:hover, .btn-meal-container button:hover {
  background-color: #fff;
  transform: scale(1.02);
  cursor: pointer;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.btn-container button:first-child {
  margin-right: 10px;
}


#month, #year {
  font-size: 2rem;
  display: inline-block;
  padding: 15px 0;
}

.today {
  border-bottom: 2px solid var(--pink) !important;
}

#logs {
  display: none;
}

.log-btn {
  color: #fff;
  margin: 0 auto 0 auto;
  border-radius: 0.25rem;
  background-color: var(--purple);
  outline: none;
  border: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.log-btn:hover {
  background-color: #5953f8;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

#log-pop-outer {
  display: none;
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  padding-top: 15vh;
  background-color: rgba(0, 0, 0, 0.3);
}

  #log-pop, #meal-pop {
    width: 350px;
    min-height: 400px;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 0 auto;
    background-color: #fff;
  }


  #log-pop #log-pop-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

    #log-pop #log-pop-top h3 {
      vertical-align: top;
      font-size: 1.35rem;
    }

    #log-pop #log-pop-top button {
      margin-left: auto;
      background-color: #fff;
      border: none;
      outline: none;
    }

    #log-pop #log-pop-top button img:hover {
      cursor: pointer;
      transform: scale(1.04);
    }

    #log-pop .log-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 25px 0;
    }

    #log-pop .log-item span {
      margin-left: auto;
    }

#calendar-tbl tr, 
#calendar-tbl th, 
#calendar-tbl td {
  text-align: center;
}


#calendar-tbl td {
  padding: 2.5% 0;
  border-bottom: 2px solid #fff;
}
#calendar-tbl thead {
  color: var(--pink);
}
#calendar-tbl td p {
  align-self: baseline;
}




/* import from style.css */
.bottom-nav, .side-nav{
  display: none;
}


@media screen and (min-width:700px) {
  #calendar-tbl {
    font-size: 1.25rem;
  }
  #calendar-tbl td p {
    padding: 0.5rem;
  }
}



@media screen and (min-width:1100px) {
  .btn-container button {
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }
  .top-nav img{
      margin-left: 5rem;
  }
  #calendar-tbl {
    width: calc(90% - 5rem);
    margin-left: calc(5rem + 5%);
    margin-right: 5%;
  }
  #calendar-tbl td {
    padding: 1.5% 0;
  }
  #year {
    margin-right: 5rem;
  }
  #meals {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 2.5%;
      width: calc(100% - 5rem);
      margin-left: 5rem;
      padding: 2 2.5%;
  }
 
  .side-nav {
      position: fixed;
      display: inline-block;
      top: 0;
      width: 4.5rem;
      min-height: 100%;
      background: rgb(114,108,251);
      background: linear-gradient(180deg, rgba(114,108,251,1) 0%, rgba(163,124,252,1) 100%);
      box-shadow: 5px 5px 5px #b9affca6;
  }
  .icons {
      padding-top: 5rem;
      display: flex;
      flex-direction: column;
  }
  .icons img {
      width: 72px;
      padding: 45% 1rem;
  }
  .icons img:hover{
      background-color: #a27bfb;
      cursor: pointer;
      transition: all 400ms ease-in-out;
  }
  .img-active {
      background-color: #a27bfb;
  }


}











/* import from dash.css */




























@media screen and (min-width: 300px) and (max-width:1100px) {
  .bottom-nav {
      display: flex;
      justify-content: center;
      width: 100%;
      position: fixed;
      bottom: 0;
      z-index: 234;
      background: rgb(114,108,251);
      background: linear-gradient(180deg, rgba(114,108,251,1) 0%, rgba(163,124,252,1) 100%);
      box-shadow: 5px 5px 5px #b9affca6;
  }
  .bottom-nav a {
      text-align: center;
      align-self: center;
      flex: 1;
      padding: 0.5rem;
  }
  .bottom-nav a:hover {
      background-color: #a27bfb;
      cursor: pointer;
      transition: all 400ms ease-in-out;
  }
  .active {
      background-color: #a27bfb;
  }

  .bottom-nav img {
      width: 50px;
      height: 50px;
  }
} 



/* import from dash.css */