*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
  }
  
  :root {
    --purple: #8C88FA;
    --pink: #FF95FE;
    --bgColor: #F0F3F8;
    --lightBlue: #c6dcff;
  }
  
  html,body{
    width: 100%;
    min-height: 100vh;
  }
  
  body {
    background-color: var(--bgColor);
  }
  
  #home-nav {
    width: 100%;
    background-color: #fff;
    z-index: 10;
    padding: 0 1rem;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  }
    #home-nav section{
        display: none;
    }
    #home-nav-inner {
        display: flex;
    }
    #home-nav h1 {
        margin-right: 1rem;
        padding-top: 1rem;
        padding-left: 0.25rem;
    }
    #home-nav h1 span:first-child {
        color: var(--purple);
    }
    #home-nav h1 span:last-child {
        color: var(--pink);
    }
    #home-nav-inner img:last-child {
        margin-left: auto;
    }
    #home-nav-inner img:last-child:hover {
        transform: scale(1.05) rotate(180deg);
        transition: all 500ms ease-in-out;
        cursor: pointer;
    }
    .btn {
      margin: 1.5rem auto;
      font-size: 1.15rem;
      text-decoration: none;
      color: rgba(0,0,0,0.6);
      border: none;
      display: inline-block;
      outline: none;
      background: rgb(255,255,255);
      background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(244,206,255,1) 100%);
      padding: 0.5rem 1rem;
      border-radius: 0.25rem;
      box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
      font-weight: 600;
    }
    .btn:hover {
      transform: scale(1.02);
      box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
      transition: all 350ms ease-in-out;
    }

#home-nav-mobile {
    display: none;
    background-color: var(--purple);
    position: absolute;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-top: 1rem;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
}
    #home-nav-mobile a {
        border-radius: 0.75rem;
        padding: 0.75rem 1rem;
        display: block;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.25rem;
        background-color: #fff;
        text-align: center;
        box-shadow: 2px 2px 3px rgba(0,0,0,0.2);

    }
    #home-nav-mobile a:first-child {
        margin-bottom: 0.75rem;
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(244,205,255,1) 100%);
    }
    #home-nav-mobile a:last-child {
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(212,228,255,1) 100%);
    }
    #home-nav-mobile a:hover {
        transform: scale(1.02);
        box-shadow: 4px 4px 6px rgba(0,0,0,0.2);
        transition: all 350ms ease-in-out;
    }
   
  
  
  
#hero-content {
    width: 100%;
    padding: 0rem 1rem 4rem 1rem;
    display: flex;
    flex-direction: column;
}
    #hero-content img, #blue-background img {
        width: 65%;
        display: inline-block;
        margin: 0 auto;
    }
    #hero-content section {
        width: 100%;
        text-align: center;
    }
    #hero-content h1 {
        color: var(--purple);
        width: 20rem;
        font-size: 2.25rem;
        text-align: center;
        margin: 2rem auto 1rem auto;
    }
    #hero-content p {
        color: #838383;
        font-size: 1.25rem;
        text-align: center;
    }
    
  
  
#cards {
    background-color: var(--lightBlue);
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}
    .card{
        flex: 1;
        box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
        border-radius: 0.5rem;
        padding: 0rem 1.5rem 3.5rem 1.5rem;
        margin-bottom: 4rem;
    }
    .card .img-bg {
      box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
      position: relative;
      bottom: 2rem;
      display: grid;
      width: 80px;
      height: 80px;
      background-color: var(--purple);
      display: inline-block;
      padding: 15px;
      border-radius: 50%;
    }
      .card img  {
        height: 50px;
        width: 50px;
      }
      .card p {
        color: rgba(0,0,0,0.6);
        line-height: 1.6rem;
        margin-top: 2.5rem;
      }
    .card:nth-of-type(1) {
      margin-top: 4rem;
      background: rgb(255,255,255);
      background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(244,205,255,1) 100%);
    }
    .card:nth-of-type(2) {
      background: rgb(255,255,255);
      background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(212,228,255,1) 100%);
    }
    .card:nth-of-type(3) {
      background: rgb(255,255,255);
      background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(194,179,254,1) 100%);
    }
  
  
#contact {
    width: 100%;
    padding: 2rem 1rem;
    background-color: #f5d1ff;
}

    #contact-inner {
        display: flex;
        margin: 0 auto;
        width: 100%;
        justify-content: space-between
    }
        #contact-inner a {
            flex: 1;
            text-align: center;
        }
            #contact-inner img {
                display: inline-block;
                height: 50px;
                align-self: center;
            }
            #contact-inner a:hover {
                transform: scale(1.05);
                transition: all 400ms ease-in-out;
                
            }
            #contact-inner img:nth-of-type(2){
                margin-left: 5px;
            }




#mail-card {
    display: none;
    padding-bottom: 1rem;
    background-color: var(--lightBlue);

    width: 100%;
    /* display: flex; */
    justify-content: center;
}
    #mail-card article {
        padding: 1rem;
        background-color: #000;
        border-radius: 0.75rem;
        box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
        width: 350px;
        text-align: center;
    }
        #mail-card article h3, #mail-card article h4 {
            padding: 0.5rem 1rem;
            color: #fff;
        }


@media screen and (min-width:750px) {
    #home-nav {
        padding: 0 5%;
    }
        #hamburger {
            display: none;
        }
        #home-nav section{
            display: inline-block;
            align-self: center;
            margin-left: auto;
        }
            #home-nav section a {
                font-size: 1.15rem;
                text-decoration: none;
                padding-bottom: 0.25rem;
            }
            #home-nav section a:first-child {
                margin-right: 1rem;
                color: var(--pink);
            }
            #home-nav section a:last-child {
                color: var(--purple);
            }
            #home-nav section a:first-child:hover {
                border-bottom: 2px solid var(--pink);
                color: var(--purple);
                transition: all 100ms ease-in-out;
            }
            #home-nav section a:last-child:hover {
                border-bottom: 2px solid var(--purple);
                color: var(--pink);
                transition: all 100ms ease-in-out;
            }

    #hero-content{
        flex-direction: row-reverse;
        padding: 0rem 5% 7rem 5%;
    }

        #hero-content img {
            width: 45%;
        }
        #hero-content section {
            padding-right: 5%;
            margin: 7.5% 0 0 0;
            width: 100%;
            text-align: left;
        }
            #hero-content h1 {
                width: 100%;
                text-align: left;
            }
            #hero-content p {
                width: 100%;
                text-align: left;
            }

    #cards {
        padding: 2rem 5%;
    }

}


@media screen and (min-width:1000px) {
    #cards {
        flex-direction: row;
    }
    .card{
        margin-top: 4rem;
    }
    .card:nth-of-type(1),
    .card:nth-of-type(2){
        margin-right: 5%;
    }
    #hero-content{
        padding: 0rem 5% 9rem 5%;
    }

        #hero-content img {
            width: 45%;
        }
        #hero-content section {
            padding-right: 5%;
            margin: 7.5% 0 0 0;
        }
            #hero-content h1 {
                font-size: 3rem;
                margin-top: 10%;
                
            }
            #hero-content p {
                padding: 1rem 0;                
            }
}



@media screen and (min-width:1300px) {
    #home-nav {
        padding: 0 10%;
    }
    #cards {
        padding: 2rem 10%;
    }
    #hero-content{
        padding: 0rem 10% 9rem 10%;
    }
    #hero-content h1 {
        font-size: 4rem;
        margin-top: 7.5%;   
    }
}

@media screen and (min-width:1700px) {
    #home-nav {
        padding: 0 12.5%;
    }
    #cards {
        padding: 2rem 12.5%;
    }
    #hero-content{
        padding: 0rem 12.5% 9rem 12.5%;
    }
        #hero-content h1 {
            font-size: 5rem;
            margin-top: 7.5%;   
        }
        #hero-content p {
            padding: 1rem 0;
            font-size: 1.5rem;                
        }
        #hero-content .btn {
            font-size: 1.5rem;
        }
}


@media screen and (min-height: 550px) and (min-width:500px) {
    #reg-pop {
        width: 450px !important;
    }
    #reg-pop form {
        display: flex;
    }
        #reg-pop form section:first-child {
            /* padding-top: 1.85rem; */
            padding-right: 10px;
            border-right: 2px solid var(--pink);
        }
        #reg-pop form section:last-child {
            padding-left: 10px;
        }
            #reg-pop form section:last-child select {
                padding-bottom: 0.5rem;
            }
}