*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
  }
  
  :root {
    --purple: #8C88FA;
    --pink: #FF95FE;
    --bgColor: #F0F3F8;
    --lightBlue: #c6dcff;
  }
  
  html,body{
    width: 100%;
    min-height: 100vh;
  }
  
  body {
    background-color: var(--bgColor);
  }
  
  #home-nav {
    width: 100%;
    background-color: #fff;
    z-index: 10;
  }
  #home-nav-inner {
    justify-content: center;
    display: flex;
  }
    #home-nav h1 {
        margin-right: 1rem;
        padding-top: 0.75rem;
        padding-left: 0.25rem;
    }
    #home-nav h1 span:first-child {
        color: var(--purple);
    }
    #home-nav h1 span:last-child {
        color: var(--pink);
    }
    #home-nav-inner img:first-child,
    #home-nav-inner img:last-child {
        margin-left: 15%;
    }
    #home-nav-inner img:last-child:hover {
        transform: scale(1.05) rotate(180deg);
        transition: all 350ms ease-in-out;
        cursor: pointer;
    }
  
  
  
  .btn {
    margin: 1.5rem auto;
    text-decoration: none;
    color: rgba(0,0,0,0.6);
    border: none;
    display: inline-block;
    outline: none;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(244,206,255,1) 100%);
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
    font-weight: 600;
  }
  .btn:hover {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgb(206, 226, 255) 100%);
    transition: all 500ms ease-in-out;
  }
  #blue-background {
    width: 100%;
    display: inline-block;
    height: 40rem;
  }
  
  
  
  
  #hero-content {
    width: 100%;
    padding: 2rem 1rem;
    display: grid;
  }
    #hero-content img, #blue-background img {
        width: 75%;
        display: inline-block;
        margin: 0 auto;
    }
    #hero-content h1 {
        color: var(--purple);
        width: 16rem;
        text-align: center;
        margin: 1rem auto;
    }
    #hero-content p {
        color: #838383;
        font-size: 1.25rem;
        text-align: center;
    }
  
  
  #cards {
    padding: 2rem 1rem;
    display: grid;
    text-align: center;
    grid-gap: 5rem;
    margin-bottom: 3rem;
  }
    .card{
      border-radius: 0.5rem;
      padding: 0rem 1.5rem 3.5rem 1.5rem;
    }
      .card img  {
        height: 50px;
        width: 50px;
      }
      .card .img-bg {
        position: relative;
        bottom: 2rem;
        display: grid;
        width: 80px;
        height: 80px;
        background-color: var(--purple);
        display: inline-block;
        padding: 15px;
        border-radius: 50%;
      }
      .card p {
        color: rgba(0,0,0,0.6);
        line-height: 1.6rem;
        margin-top: 2.5rem;
      }
    .card:nth-of-type(1) {
      background: rgb(255,255,255);
      background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(244,205,255,1) 100%);
    }
    .card:nth-of-type(2) {
      background: rgb(255,255,255);
      background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(212,228,255,1) 100%);
    }
    .card:nth-of-type(3) {
      background: rgb(255,255,255);
      background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(194,179,254,1) 100%);
    }
  
  
  #contact {
    width: 100%;
    padding: 2rem 1rem;
    background-color: #f5d1ff;
  }
  #contact-header{
    text-align: center;
    padding-bottom: 2rem;
  }
  
  #contact-inner {
      display: flex;
      margin: 0 auto;
      width: 100%;
      justify-content: space-between
    }
    #contact-inner a {
      flex: 1;
      text-align: center;
    }
    #contact-inner img {
      display: inline-block;
      height: 50px;
      align-self: center;
    }
    #contact-inner img:nth-of-type(2){
      margin-left: 5px;
    }