*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

:root {
    --purple: #8C88FA;
    --pink: #FF95FE;
    --bgColor: #F0F3F8;
    --lightBlue: #c6dcff;
}

html,body{
    width: 100%;
    min-height: 100vh;
}

body {
    background-color: var(--bgColor);
}

#home-nav {
    width: 100%;
    background-color: #fff;
    z-index: 10;
}
#home-nav-inner {
    justify-content: center;
    display: flex;
}
    #home-nav h1 {
        margin-right: 1rem;
        padding-top: 1rem;
        padding-left: 0.25rem;
    }
    #home-nav h1 span:first-child {
        color: var(--purple);
    }
    #home-nav h1 span:last-child {
        color: var(--pink);
    }
    #home-nav-inner img:first-child,
    #home-nav-inner img:last-child {
        margin-left: 15%;
    }
    #home-nav-inner img:last-child:hover {
        transform: scale(1.05) rotate(180deg);
        transition: all 350ms ease-in-out;
        cursor: pointer;
    }

#blue-background-outer {

    width: 100%;
    overflow: hidden;
    padding: 5rem 0;
}
    #blue-background {
        background-color: var(--lightBlue);
        height: 30rem;
        transform: rotate(10deg) translate(-8rem);
        width: 150%;
    }



#hero-content {
    width: 100%;
    position: relative;
    bottom: 33rem;
    padding: 1rem;
    display: grid;
}
    #hero-content img, #blue-background img {
        width: 75%;
        display: inline-block;
        margin: 0 auto;
    }