@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body {
    width: 100%;
}
#wrapper{
    width: 100%;
    // background-color: #f78a8a;
    text-align: center;
}
.error{ color: red; font-weight: bold;}
form {
    width: 350px;
}