

.error-container {
  width: 100%;
  padding:0 5%;
  color: #ff0000;
}
  .meal-error {
    color: #ff0000;
    font-weight: 600;
    margin-bottom: 0.25rem;
  }

.search-food {
  margin: 2rem 5% 0 5%;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  border-radius: 0.75rem;
  padding: 1rem;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(211,227,255,1) 100%);
}

  .search-food input, #new-workout-form input {
    width: 100%;
    outline: none;
    display: inline-block;
    border: none;
    background-color: #fff;
    border-radius: 0.75rem;
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
  }
  .search-food input::placeholder, #new-workout-form input::placeholder {
    font-size: 1rem;
    background-color: #fff;
  }

  .search-food form label, #new-workout-form h3 {
    margin-bottom: 0.5rem;
    font-size: 1.15rem;
    font-weight: 600;
    display: block;
    color: var(--purple);
  }

  .search-food form button{
    display: inline-block;
    width: 25px;
    position: relative;
    bottom: 1.75rem;
    left: calc(100% - 27px);
    border: none;
    outline: none;

    background-color: transparent;
  }
  .search-food form button:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all 350ms ease-in-out;
  }


#all-meals {
  width: 100%;
  display: grid;
  color: #fff;
  grid-gap: 2.5% 5%;
  padding: 1rem 5%;
  margin-bottom: calc(5% + 7rem);
}

  #all-meals .meal-header, .workout header{
    display: flex;
    width: 100%;
    border-bottom: 1px solid #fff;
    padding: 1rem 1.5rem;
  }
  #all-meals .food-header {
    width: 100%;
    display: flex;
    padding: 1rem 1.5rem;
    border-top: 1px solid #fff;
  }
    #all-meals .food-header p, .workout header h3 {
      /* width: 75%; */
      font-weight: 600;
      font-size: 1.15rem;
      margin-right: auto;
      text-align: left;
    }
    #all-meals .meal-header img, #all-meals .food-img-container {
      margin-left: auto;
    }
    .food-img-container a {
      text-decoration: none;
    }

    #all-meals .meal-header img:hover, .food-img-container img:hover{
      transform: scale(1.1) rotate(180deg);
      cursor: pointer;
      transition: all 350ms ease-in-out;
    }
    .food-img-container img:first-child {
      margin-right: 0.5rem;
    }
  #all-meals article {
    color: #fff;
    text-align: center;
    padding: 1rem 0 1rem 0;
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    border-radius: 0.75rem;
  }

  #Breakfast-content{
    background: rgb(143,135,249);
    background: linear-gradient(135deg, rgba(143,135,249,1) 0%, rgba(231,63,224,1) 100%);
  }

  #Lunch-content{
    background: rgb(236,134,207);
    background: linear-gradient(135deg, rgba(236,134,207,1) 0%, rgba(245,192,150,1) 67%);
  }

  #Dinner-content{
    background: rgb(69,221,241);
    background: linear-gradient(135deg, rgba(69,221,241,1) 0%, rgb(150, 167, 245) 67%);

  }

  #Snack-content{
    background: rgb(54,39,254);
    background: linear-gradient(135deg, rgba(54,39,254,1) 0%, rgba(128,236,243,1) 85%);
  }
  .food-content, #hidden-results{
    display: none;
  }
  .dropdown{
    padding: 1rem 1.5rem;
    width: 100%;
    display: flex;
  }

    .dropdown img {
      margin-left: auto;
    }
    
    .dropdown img:hover {
      transform: scale(1.25);
      cursor: pointer;
      transition: all 300ms ease-in-out;
    }

  .food-nutrients {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;

  } 
  .calories-display {
    padding: 0.25rem 2rem;
    /* text-align: left; */
    font-size: 1.15rem;
    font-weight: 600;
  }


  .meal-pop {
    width: 350px;
    min-height: 400px;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 0 auto;
    background-color: #fff;
  }


.meal-pop-outer, .search-pop-outer, #login-pop-outer, #reg-pop-outer {
  display: none;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  padding-top: 5vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.search-pop, #login-pop, #reg-pop {
  width: 350px;
  min-height: 400px;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 0 auto;
  background-color: #fff;
}

.meal-pop, .search-pop, #login-pop, #reg-pop {
  color: rgba(0,0,0,0.65);
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(211,227,255,1) 100%);
  border-radius: 0.5rem;
}
  .meal-pop header, .search-pop header, #login-pop header, #reg-pop header {
    display: flex;
    margin-bottom: 1rem;
  }
    .meal-pop header img, .search-pop header img, #login-pop img, #reg-pop img {
      margin-left: auto;
    }
    .meal-pop header img:hover, .search-pop header img:hover, #login-pop img:hover, #reg-pop header img:hover {
      cursor: pointer;
      transform: scale(1.1);
      transition: all 350ms ease-in-out;
    }
  



  .meal-pop form, .search-pop form, #login-pop form, #reg-pop form {
    font-size: 1rem;
    width: 100%;
  }
    .meal-pop form label, .search-pop label, #login-pop label, #reg-pop label {
      font-weight: 600;
      color: var(--purple);
    }

    .meal-pop form input, .search-pop form input, #login-pop form input, #reg-pop form input{
      width: 100%;
      background-color: transparent;
      border: none;
      font-size: 1rem;
      border-bottom: 2px solid #fff;
      outline: none;
      margin-bottom: 0.5rem;
    }

    .meal-pop form select, .meal-pop form select option, 
    .search-pop form select, .search-pop form select option, #reg-pop form select, #reg-pop form select option {
      width: 100%;
      font-size: 1rem;
      outline: none;
      border: none;
      background-color: transparent;
    }

    .nutrients-container, .cal-qual-container {
      display: flex;
      justify-content: space-between;
      text-align: center;
    }

    .reg-form-container {
      display: flex;
      justify-content: space-between;
    }

    .nutrients-container input, .cal-qual-container input {
      text-align: center;
    }
    .hw {
      text-align: center;
      font-weight: 600;
      padding: 0.5rem;
      color: var(--pink);
    }
    .meal-pop form input:focus, .search-pop form input:focus, #login-pop form input:focus, #reg-pop input:focus {
      border-bottom: 3px solid var(--pink);
    }
    .meal-pop form input::placeholder, .search-pop form input::placeholder, #login-pop form input::placeholder {
      font-size: 1rem;
    }
    .btn-meal-container {
      width: 100%;
      display: flex;
      justify-content: center;
    }
      .meal-pop form button, .search-pop form button, #login-pop form button, #reg-pop button {
        display: inline-block;
        width: 10rem;
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(244,206,255,1) 100%);
        outline: none;
        margin: 1rem auto;
        padding: 0.5rem 1.25rem;
        border-radius: 1.25rem;
        border: none;
        font-size: 1rem;
        font-weight: bold;
        -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
                box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
      }



.flex-50 {
  flex-basis: 50%;
}
.ta-center {
  text-align: center;
}


.meal-nutrients, .food-search-nav{
  display: none;
}






/* search results styling  */

#search-results {
  margin-bottom: 5rem;
  display: grid;
  width: 100%;
  padding: 2rem 5%;
  grid-gap: 2rem 5%;
}
  .result-display {
    color: rgba(0, 0, 0, 0.8);
    padding: 1rem 0;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    border-radius: 0.75rem;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(244,206,255,1) 100%);
  }
  .result-display h3 {
    padding: 0 2rem 1rem 2rem;
    border-bottom: 1px solid #fff;
  }
  .search-nutrients {
    padding: 0.75rem 0;
    display: flex;
    align-content: space-between;
    text-align: center;
  }
    .search-nutrients div {
      flex: 1;
    }
    .btn-search-container {
      padding: 1rem 2rem 0rem 2rem;
      border-top: 1px solid #fff;
    }
      .btn-search-container button {
        width: 100%;
        font-weight: 600;
        font-size: 1rem;
        padding: 0.5rem;
        border: none;
        outline: none;
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(211,227,255,1) 100%);
        border-radius: 0.25rem;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
      }

      .btn-search-container button:hover, #login-pop form button:hover, .btn-meal-container button:hover {
        cursor: pointer;
        transform: scale(1.02);
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
        transition: all 350ms ease-in-out;
      }







/* search results styling  */




@media screen and (min-width:750px) {
  #all-meals{
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
  }
  #search-results {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5rem;
  }
  .search-food {
    padding: 1rem 5%;
  }
  .meal-nutrients {
    display: flex;
    padding: 2rem;
    border-bottom: 1px solid #fff;
    justify-content: space-between;
  }
}

@media screen and (min-width:1100px) {
  .error-container {
    width: 100%;
    padding:0 5% 0 calc(5% + 5rem);
  }
  #all-meals,#workout-content {
    width: calc(100% - 5rem);
    margin-left: 5rem;
    margin-bottom: 0;
  }
  .workouts {
    margin-bottom: 0;
  }
  #search-results {
    grid-gap: 2.5%;
    padding: 2rem 5% 2rem calc(5% + 5rem);
    margin-bottom: 0;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .search-food {
    display: none;
  }
  .food-search-nav {
    margin-left: 1rem;
    display: inline-block;
    margin-top: 1.15rem;
  }
  .food-search-nav form {
    width: 14rem;
    display: flex;

  }
    .food-search-nav input {
      display: inline-block;
      width: 12rem;
      outline: none;
      color: white;
      border: none;
      background-color: var(--lightBlue);
      border-radius: 1rem;
      font-size: 1rem;
      padding: 0.25rem 0.5rem;
    }
    .food-search-nav input::placeholder {
      font-size: 1rem;
      color: white;
      font-size: 1rem;
      background-color: var(--lightBlue);
    }
    .food-search-nav form button{
      background: url('/static/images/search-icon.svg') no-repeat;
      position: relative;
      right: 1.75rem;
      bottom: 0.15rem;
      margin-top: 0.25rem;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      border: none;
      outline: none;
    }
    .food-search-nav form button:hover {
      cursor: pointer;
      transform: scale(1.02);
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
      transition: all 350ms ease-in-out;
    }

}


#reg-pop-outer{
  display: none;
}