<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../static/images/HealthTrak-icon.svg" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/dash.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/track.css') }}">
</head>
<body>

    <form action="">
        <input id="calories_consumed" type="hidden" value="{{ log.calories_consumed }}">
        <input id="calories_burned" type="hidden" value="{{ log.calories_burned }}">
        <input id="daily_calories" type="hidden" value="{{ user.daily_calories }}">
        <input type="hidden" id="daily_fat" value="{{ log.total_fat }}">
        <input type="hidden" id="daily_protein" value="{{ log.total_protein }}">
        <input type="hidden" id="daily_carbs" value="{{ log.total_carbs }}">
    </form>




    <nav class="top-nav">
        <nav class="top-nav-inner">
            <img src="/static/images/HealthTrak-icon.svg" alt="HealthTrak Icon">
            <h1><span>Health</span><span>Trak</span></h1>
            <a href="/logout">Logout</a>
        </nav>

    </nav>

    <main id="meals">
        
       

    {% for m in meals%}
        <article>
            <h3>{{ m.name }}</h3>
            <div class="food-container">
                <div class="fat">
                    <p>Fat</p>
                    <p>{{m.fat|round|int}}g</p>
                </div>

                <div class="protein">
                    <p>Protein</p>
                    <p>{{ m.protein|round|int }}g</p>
                </div>

                <div class="carbs">
                    <p>Carbs</p>
                    <p>{{ m.carbs|round|int }}g</p>
                </div>
            </div>
            <div class="calories-container">
                <p>{{ m.calories|round|int }} Calories</p>
                <a class="toggleMeal" href="#">
                    <img src="/static/images/plus-icon.svg" alt="Plus Icon">
                </a>
            </div>
        </article>
    {% endfor%}
            


        
        <article>
            <h3>Today's Log</h3>
            <div class="chart-container">
                <canvas id="myChart"></canvas>
            </div>
            <p>{{ log.calories_consumed }} / {{ user.daily_calories  }}</p>
            <div class="todays-log">
                <span>Fat</span><span>{{ log.total_fat }}g</span>
            </div>

            <div class="todays-log">
                <span>Protein</span><span>{{ log.total_protein }}g</span>
            </div>

            <div class="todays-log">
                <span>Carbs</span><span>{{ log.total_carbs }}g</span>
            </div>

            <a href="/meals">Log More</a>

        </article>

        <article>
            <h3>Workout Log</h3>
            <p id="workout-cals"><span>{{ log.calories_burned|round|int }}</span> <span>Cals Burned</span></p>
            <section id="minutes-active">
                <p>{{ log.minutes_worked_out|round|int }}</p>
                <p>Minutes Active</p>
            </section>
            <section id="workouts-finished">
                <p>{{ workout_count }}</p>
                <p>Workouts Finished</p>
            </section>
            <a href="/fitness">Log More</a>
            </div>
        </article>

        <article>
            <h3>Nutrients Log</h3>
            <div class="stats-log">
                <div class="chart-container">
                    <canvas id="barChart" width="100" height="65"></canvas>
                </div>

            </div>
        </article>

    </main>



    <nav class="side-nav">
        
        <div class="icons">
            
            <a class="active" href="#">
                <img  src="/static/images/dash-icon.svg" alt="Dashboard Icon">
            </a>
        
            <a href="/meals">
                <img src="/static/images/meals-icon.svg" alt="Meal Icon">
            </a>
            
            <a href="/calendar">
                <img src="/static/images/calendar-icon.svg" alt="Calendar Icon">
            </a>
            
            <a href="/fitness">
                <img src="/static/images/workout-icon.svg" alt="Workout Icon">
            </a>
            
            <a href="/settings">
                <img src="/static/images/settings-icon.svg" alt="Gear Icon">
            </a>

        </div>

    </nav>
    
    <nav class="bottom-nav">

        <a class="active" href="#">
            <img src="/static/images/dash-icon.svg" alt="Dashboard Icon">
        </a>


        <a href="/calendar">
            <img src="/static/images/calendar-icon.svg" alt="Calendar Icon">
        </a>



        <a href="/meals">
            <img src="/static/images/meals-icon.svg" alt="Meals Icon">
        </a>


        <a href="/fitness">
            <img src="/static/images/workout-icon.svg" alt="Workout Icon">
        </a>


    </nav>



    <main id="dash-meal-outer" class="meal-pop-outer">

        <section class="meal-pop">
          <header>
            <h2>Add Food</h2>
            <img id="close-dash-form" src="../static/images/close.svg" alt="Close Icon">
          </header>
          <form action="/fooditem/new" method="post">
    
            <label>
              Food Name
              <input type="text" name="food_name" >
            </label>
            <div class="cal-qual-container">
              
              <label>
                Quantity
                <input type="number" id="break" value="1" name="quantity">
              </label>
              
              <label>
                Calories
                <input type="number" name="calories" value="0">
              </label>
              
            </div>
            
            <div class="nutrients-container">
    
              <label>
                Carbs
                <input class="carbs" type="number" value="0" name="carbs">
              </label>
              
              <label>
                Fat
                <input class="fat" type="number" value="0" name="fat">
              </label>
              <label>
                Protein
                <input class="protein" type="number" value="0" name="protein">
              </label>
              
            </div>
            
            <label>Meal</label>
    
            <select name="meal_name">
    
              <option value="Breakfast">Breakfast</option>
              <option value="Lunch">Lunch</option>
              <option value="Dinnner">Dinnner</option>
              <option value="Snack">Snack</option>
    
            </select>
    
            <div class="btn-meal-container">
              <button type="submit">Add Food</button>
            </div>
    
          </form>
    
        </section>
    
      </main>







    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='/js/stats.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/barChart.js') }}"></script>
</body>
</html>