<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
</head>
<body>
    <h1>Welcome, {{ user.first_name }}</h1>
    <a href="/logout">Logout</a>
    <table>
        <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Sex</th>
            <th>Height(Inches)</th>
            <th>Weight(lbs)</th>
            <th>Activity Level</th>
            <th>Daily Calories</th>
        </thead>
        <tr>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.age }}</td>
            {% if user.sex == 1 %}
            <td>Male</td>
            {% elif user.sex == 2 %}
            <td>Female</td>
            {% endif %}
            <td>{{ user.height }}</td>
            <td>{{ user.weight }}</td>
            <td>{{ user.activity }}</td>
            <td>{{ user.daily_calories }}</td>
        </tr>
    </table>
    <a href="/fitness">Add Exercise</a>
    <a href="/mealtrack">Add Meal</a>
    <a href="/sleep">Add Sleep</a>
    <div id="meals-display">
        {% for meal in user.meals%}
        <div class="meal-display">
            <h2>{{ meal.name }}</h2>
            <ul>
                {% for food in meal.food_in_meal %}
                <h4>{{ food.name }}</h4>
                <a href="/fooditem/edit/{{ food.id }}">Edit</a>
                <ul>
                    <li>Carbs: {{ food.carbs }}g</li>
                    <li>Fat: {{ food.fat }}g</li>
                    <li>Protein: {{ food.protein }}g</li>
                    <li>Calories: {{ food.calories }}</li>
                </ul>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
</body>
</html>