<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
</head>
<body>
    <h1>Welcome, {{ user.first_name }}</h1>
    <a href="/logout">Logout</a>
    <table>
        <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Sex</th>
            <th>Height(Inches)</th>
            <th>Weight(lbs)</th>
            <th>Activity Level</th>
            <th>Daily Calories</th>
        </thead>
        <tr>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.age }}</td>
            {% if user.sex == 1 %}
            <td>Male</td>
            {% elif user.sex == 2 %}
            <td>Female</td>
            {% endif %}
            <td>{{ user.height }}</td>
            <td>{{ user.weight }}</td>
            <td>{{ user.activity }}</td>
            <td>{{ user.daily_calories }}</td>
        </tr>
    </table>
    <a href="/fitness">Add Exercise</a>
    <a href="/mealtrack">Add Meal</a>
    <a href="/sleep">Add Sleep</a>
    <a href="/calendar">Your Log</a>
    <a href="/categories">Categories</a>
    {% if log_exists != False %}
    <div class="daily-log-div">
        <span class="daily-log"> Total Calories Consumed: {{ log_exists.calories_consumed }}</span> |
        <span class="daily-log"> Total Calories Burned: {{ log_exists.calories_burned }}</span> |
        <span class="daily-log"> Total Minutes Working Out: {{ log_exists.minutes_worked_out }}</span> |
        <span class="daily-log"> Total Fat: {{ log_exists.total_fat }}</span> |
        <span class="daily-log"> Total Carbs: {{ log_exists.total_carbs }}</span> |
        <span class="daily-log"> Total Protein: {{ log_exists.total_protein }}</span>
    </div>
    {% endif %}
    <div id="meals-display">
        {% for meal in user.meals%}
            {% if meal.created_at.astimezone().strftime('%Y-%m-%d') == local_time.strftime('%Y-%m-%d') %}
            <div class="meal-display">
                <h3>{{ meal.name }}: {{ meal.total_calories }}</h3>
                <p>Fat: {{ meal.total_fat }} | Carbs: {{ meal.total_carbs }} | Protein: {{ meal.total_protein }}</p>
                <ul>
                    {% for food in meal.food_items %}
                    {% if food.created_at.astimezone().strftime('%Y-%m-%d') == local_time.strftime('%Y-%m-%d') %}
                    <h4>{{ food.name }}</h4>
                    <a href="/fooditem/edit/{{ food.id }}">Edit</a>
                    <a href="/fooditem/delete/{{ food.id }}">Delete</a>
                    <ul>
                        <li>Carbs: {{ food.carbs }}g</li>
                        <li>Fat: {{ food.fat }}g</li>
                        <li>Protein: {{ food.protein }}g</li>
                        <li>Calories: {{ food.calories }}</li>
                    </ul>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <div id="workouts-display">
        {% for workout in user.workout_history %}
            {% if workout.created_at.astimezone().strftime('%Y-%m-%d') == local_time.strftime('%Y-%m-%d') %}
            <div class="workout-display">
                <h2>{{ workout.name }} | {{ workout.calories_burned }} Cals Burned | {{ workout.duration }} minutes</h2>
                {% for ex in workout.exercises %}
                    {% if ex.created_at.astimezone().strftime('%Y-%m-%d') == local_time.strftime('%Y-%m-%d'):%}
                    <ul>
                        <h4>{{ ex.name }}</h4>
                        <a href="/exercise/edit/{{ ex.id }}">Edit</a>
                        <a href="/exercise/delete/{{ ex.id }}">Delete</a>
                        <ul>
                            <li>Duration: {{ ex.duration }} Minutes</li>
                            <li>Calories Burned: {{ ex.calories_burned }}</li>
                        </ul>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        {% endfor%}
    </div>
</body>
</html>