<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Food</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
</head>
<body>
    <h1>Welcome, {{ user.first_name }}</h1>
    <div id="edit-food">
        <a href="/dashboard">Dashboard</a>
        <form action="/updateFood" method="post">
            <h2>Update {{ food.name }}</h2>
            {% with food_error = get_flashed_messages(category_filter = ["food_error"]) %}
                {% if food_error %}
                    {% for food_err in food_error %}
                        <p class="error">{{ food_err }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <input type="hidden" name="food_id" value="{{ food.id }}">
            <input type="text" name="food_name" value="{{ food.name }}">
            <span>Calories</span>
            <input type="number" name="calories" value="{{ food.calories }}">
            <span>Carbs</span>
            <input type="number" name="carbs" value="{{ food.carbs }}">
            <span>Fat</span>
            <input type="number" name="fat" value="{{ food.fat }}">
            <span>Protein</span>
            <input type="number" name="protein" value="{{ food.protein }}">
            <span>Quantity</span>
            <input type="number" name="quantity" value="{{ food.quantity }}">
            <span>Can we add this to our Public Database?</span>
            <select name="public">
                <option value="1">Public</option>
                <option value="0">Private</option>
            </select>
            <button type="submit">Update Food</button>
        </form>
    </div>
</body>
</html>