<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/index.css') }}">
    <title>HealthTrak Home</title>
</head>
<body>
    <nav id="home-nav">
        <div id="home-nav-inner">
            <img src="../static/images/HealthTrak-icon.svg" alt="HealthTrak Icon">
            <h1><span>Health</span><span>Trak</span></h1>
            <img src="../static/images/hamburger.svg" alt="Hamburger Icon">
        </div>
    </nav>

    <div id="blue-background-outer">
        <div id="blue-background"></div>
        <main id="hero-content">
            <img src="../static/images/hero.svg" alt="Hero Image">
        </main>
    </div>

</body>
</html>