<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
</head>
<body>
    <div id="wrapper">
        <h1>Health Tracker</h1>
        <form action="/register" method="post">
            <h3>Register</h3>
            <input type="text" name="first_name" placeholder="First Name">
            <input type="text" name="last_name" placeholder="Last Name">
            <input type="text" name="email" placeholder="Email">
            <input type="number" name="age" placeholder="Age">
            <select name="sex">
                <option value="1">Male</option>
                <option value="2">Female</option>
            </select>
            <input type="number" name="feet" placeholder="Feet">
            <input type="number" name="inches" placeholder="Inches">
            <input type="number" name="weight" placeholder="Weight">
            <select name="activity">
                <option value="1.2">Little or No Exercise</option>
                <option value="1.375">Exercise 1-3 Days a Week</option>
                <option value="1.55">Exercise 3-5 Days a Week</option>
                <option value="1.725">Exercise 6-7 Days a Week</option>
                <option value="1.9">Exercise/Sports or 2x Training Everyday</option>
            </select>
            <input type="password" name="password" placeholder="Password">
            <input type="password" name="confirm_password" placeholder="Confirm Password">
            <button type="submit">Register</button>
        </form>
        {% with reg_error = get_flashed_messages(category_filter = ["reg_error"]) %}
        {% if reg_error %}
            {% for reg_err in reg_error %}
                <p class="error">{{ reg_err }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="/login" method="post">
        <h3>Login</h3>
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Login</button>
        {% with login_error = get_flashed_messages(category_filter = ["login_error"])%}
            {% if login_error %}
                {% for log_error in login_error %}
                    <p class="error">{{ log_error }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </form>
    </div>
</body>
</html>