<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meals</title>
  <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="../static/images/HealthTrak-icon.svg" type="image/x-icon">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/calendar.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/track.css') }}">
  <script defer src="{{ url_for('static', filename='/js/mealToggler.js') }}"></script>
</head>
<body>


  
  <nav class="top-nav">

    <nav class="top-nav-inner">
        
        <img src="/static/images/HealthTrak-icon.svg" alt="HealthTrak Icon">
        <h1><span>Health</span><span>Trak</span></h1>

        <section class="food-search-nav">

          <form action="/search" method="post">

            <input type="text" name="search" placeholder="Apple, Banana..">

            <button type="submit"></button>
            
          </form>

        </section>

        <a href="/logout">Logout</a>
        
    </nav>

  </nav>

  <div class="error-container">

    {% with food_error = get_flashed_messages(category_filter = ["food_error"]) %}
      {% if food_error %}
        {% for food_err in food_error %}
          <p class="meal-error">{{ food_err }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>

  <section class="search-food">

    <form action="/search" method="post">
      
      <label>Search For Food</label>
      <input type="text" name="search" placeholder="Apple, Banana..">
      <button type="submit"><img src="../static/images/search-icon.svg" alt="Search Icon"></button>
    </form>

  </section>


  <main id="all-meals">
    {% for m in meals %}
    <article id="{{m.name}}-content">
      
      <header class="meal-header">

        <h3>{{ m.name }}</h3>
        <img class="new-meal" src="../static/images/plus-icon.svg" alt="Plus Icon">
        
      </header>

      <section class="meal-nutrients" >
        
        <div>

          <p>Fat</p>
          <p>{{ m.fat|round|int }}g</p>
          
        </div>

        <div>

          <p>Protein</p>
          <p>{{ m.protein|round|int }}g</p>

        </div>

        <div>

          <p>Carbs</p>
          <p>{{ m.carbs|round|int }}</p>

        </div>



      </section>
      
      <div class="dropdown">
      
        <p>{{ m.calories|round|int }} Calories</p>
        <img class="dropdown-img" data-alt-src="{{ m.name }}-display" src="../static/images/dropdown.svg" alt="Dropdown Icon">
      
      </div>
      
      <div class="meal-content">
        {% for meal in user.meals%}
          {% if meal.created_at.astimezone().strftime('%Y-%m-%d') == local_time.strftime('%Y-%m-%d') and meal.id == m.id %}
            {% for food in meal.food_items %}
              {% if food.created_at.astimezone().strftime('%Y-%m-%d') == local_time.strftime('%Y-%m-%d') %}
              <div class="{{ m.name }}-display food-content">

                <header class="food-header">

                  <p>{{ food.name }} </p>
                  <div class="food-img-container">
                    <a href="/fooditem/edit/{{ food.id }}">
                      <img src="../static/images/edit-icon.svg" alt="Edit Icon">
                    </a>
                    <a href="./fooditem/delete/{{food.id}}">
                      <img src="../static/images/close-white.svg" alt="White Close Icon">
                    </a>
                  </div>

                </header>

                <div class="calories-display">

                  <p>{{ food.calories|round|int }} Calories</p>

                </div>
                  
                <div class="food-nutrients">

                  <div class="fat-content">

                    <p>Fat</p>
                    <p>{{food.fat|round|int}}g</p>
                    
                  </div>

                  <div class="protein-content">

                      <p>Protein</p>
                      <p>{{ food.protein|round|int }}g</p>

                  </div>

                  <div class="carbs-content">

                      <p>Carbs</p>
                      <p>{{ food.carbs|round|int }}g</p>

                  </div>
                  
                </div>
              </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      
      </div>
    </article>
    {% endfor %}
  </main>






  <main id="meal-pop-outer" class="meal-pop-outer">

    <section id="meal-pop" class="meal-pop">
      <header>
        <h2>Add Food</h2>
        <img id="close-meal-form" src="../static/images/close.svg" alt="Close Icon">
      </header>
      <form action="/fooditem/new" method="post">

        <label>
          Food Name
          <input type="text" name="food_name" >
        </label>
        <div class="cal-qual-container">
          
          <label>
            Quantity
            <input type="number" id="break" value="1" name="quantity">
          </label>
          
          <label>
            Calories
            <input type="number" name="calories" value="0">
          </label>
          
        </div>
        
        <div class="nutrients-container">

          <label>
            Carbs
            <input class="carbs" type="number" value="0" name="carbs">
          </label>
          
          <label>
            Fat
            <input class="fat" type="number" value="0" name="fat">
          </label>
          <label>
            Protein
            <input class="protein" type="number" value="0" name="protein">
          </label>
          
        </div>
        
        <label>Meal</label>

        <select name="meal_name">

          <option value="Breakfast">Breakfast</option>
          <option value="Lunch">Lunch</option>
          <option value="Dinnner">Dinnner</option>
          <option value="Snack">Snack</option>

        </select>

        <div class="btn-meal-container">
          <button type="submit">Add Food</button>
        </div>

      </form>

    </section>

  </main>












  <nav class="side-nav">
        
    <div class="icons">
        
        <a href="/newDash">
            <img  src="/static/images/dash-icon.svg" alt="Dashboard Icon">
        </a>
    
        <a class="active" href="#">
            <img src="/static/images/meals-icon.svg" alt="Meal Icon">
        </a>
        
        <a href="/calendar">
            <img src="/static/images/calendar-icon.svg" alt="Calendar Icon">
        </a>
        
        <a href="/fitness">
            <img src="/static/images/workout-icon.svg" alt="Workout Icon">
        </a>
        
        <a href="/settings">
            <img src="/static/images/settings-icon.svg" alt="Gear Icon">
        </a>

    </div>

</nav>




<nav class="bottom-nav">

    <a  href="/newDash">
        <img src="/static/images/dash-icon.svg" alt="Dashboard Icon">
    </a>


    <a  href="#">
        <img src="/static/images/calendar-icon.svg" alt="Calendar Icon">
    </a>



    <a class="active" href="/meals">
        <img src="/static/images/meals-icon.svg" alt="Meals Icon">
    </a>


    <a href="/fitness">
        <img src="/static/images/workout-icon.svg" alt="Workout Icon">
    </a>


</nav>
  
</body>
</html>