<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
</head>
<body>
    <h1>Welcome, {{ user.first_name }}</h1>
    <a href="/dashboard">Dashboard</a>
    <div class="container">
        {% with food_error = get_flashed_messages(category_filter = ["food_error"]) %}
            {% if food_error %}
                {% for food_err in food_error %}
                    <p class="error">{{ food_err }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="meal">
            <h3>Breakfast: 0</h3>
            <p data-alt-src='breakForm'>Add Food Item</p>
            <form id="breakForm" action="/fooditem/new" method="post">
                <input type="hidden" name="meal_name" value="Breakfast">
                <input type="text" name="food_name" placeholder="Food Name">
                <input type="number" name="calories" placeholder="Calories">
                <span>Carbs</span>
                <input class="carbs" type="number" value="0" name="carbs">
                <span>Fat</span>
                <input class="fat" type="number" value="0" name="fat">
                <span>Protein</span>
                <input class="protein" type="number" value="0" name="protein">
                <span>Category</span>
                <select name="category">
                    <option value="fruit">Fruit</option>
                    <option value="vegetables">Vegetable</option>
                    <option value="meat">Meat</option>
                    <option value="fish">Fish</option>
                    <option value="dairy">Dairy</option>
                    <option value="dairy_alt">Dairy Alternative(lactose free)</option>
                    <option value="bread">Bread</option>
                    <option value="pasta">Pasta</option>
                    <option value="dessert">Dessert</option>
                    <option value="other_grain">Other Grain</option>
                    <option value="beverage">Beverage</option>
                    <option value="vegan">Vegan</option>
                    <option value="other">Other</option>
                </select>
                <span>Quantity</span>
                <input type="number" id="break" value="1" name="quantity">
                <span>Can we add this to our Public Database?</span>
                <select name="public">
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
                <button type="submit">Add Food</button>
            </form>
        </div><div class="meal">
            <h3>Lunch: 0</h3>
            <p data-alt-src='lunchForm'>Add Food Item</p>
            <form id="lunchForm" action="/fooditem/new" method="post">
                <input type="hidden" name="meal_name" value="Lunch">
                <input type="text" name="food_name" placeholder="Food Name">
                <input type="number" name="calories" placeholder="Calories">
                <span>Carbs</span>
                <input class="carbs" type="number" value="0" name="carbs">
                <span>Fat</span>
                <input class="fat" type="number" value="0" name="fat">
                <span>Protein</span>
                <input class="protein" type="number" value="0" name="protein">
                <span>Category</span>
                <select name="category">
                    <option value="fruit">Fruit</option>
                    <option value="vegetables">Vegetable</option>
                    <option value="meat">Meat</option>
                    <option value="fish">Fish</option>
                    <option value="dairy">Dairy</option>
                    <option value="dairy_alt">Dairy Alternative(lactose free)</option>
                    <option value="bread">Bread</option>
                    <option value="pasta">Pasta</option>
                    <option value="dessert">Dessert</option>
                    <option value="other_grain">Other Grain</option>
                    <option value="beverage">Beverage</option>
                    <option value="vegan">Vegan</option>
                    <option value="other">Other</option>
                </select>
                <span>Quantity</span>
                <input type="number" id="lunch" value="1" name="quantity">
                <span>Can we add this to our Public Database?</span>
                <select name="public">
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
                <button type="submit">Add Food</button>
            </form>
        </div><div class="meal">
            <h3>Dinner: 0</h3>
            <p data-alt-src='dinnerForm'>Add Food Item</p>
            <form id="dinnerForm" action="/fooditem/new" method="post">
                <input type="hidden" name="meal_name" value="Dinner">
                <input type="text" name="food_name" placeholder="Food Name">
                <input type="number" name="calories" placeholder="Calories">
                <span>Carbs</span>
                <input class="carbs" type="number" value="0" name="carbs">
                <span>Fat</span>
                <input class="fat" type="number" value="0" name="fat">
                <span>Protein</span>
                <input class="protein" type="number" value="0" name="protein">
                <span>Category</span>
                <select name="category">
                    <option value="fruit">Fruit</option>
                    <option value="vegetables">Vegetable</option>
                    <option value="meat">Meat</option>
                    <option value="fish">Fish</option>
                    <option value="dairy">Dairy</option>
                    <option value="dairy_alt">Dairy Alternative(lactose free)</option>
                    <option value="bread">Bread</option>
                    <option value="pasta">Pasta</option>
                    <option value="dessert">Dessert</option>
                    <option value="other_grain">Other Grain</option>
                    <option value="beverage">Beverage</option>
                    <option value="vegan">Vegan</option>
                    <option value="other">Other</option>
                </select>
                <span>Quantity</span>
                <input type="number" id="dinner" value="1" name="quantity">
                <span>Can we add this to our Public Database?</span>
                <select name="public">
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
                <button type="submit">Add Food</button>
            </form>
        </div><div class="meal">
            <h3>Snack: 0</h3>
            <p data-alt-src='snackForm'>Add Food Item</p>
            <form id="snackForm" action="/fooditem/new" method="post">
                <input type="hidden" name="meal_name" value="Snack">
                <input type="text" name="food_name" placeholder="Food Name">
                <input type="number" name="calories" placeholder="Calories">
                <span>Carbs</span>
                <input class="carbs" type="number" value="0" name="carbs">
                <span>Fat</span>
                <input class="fat" type="number" value="0" name="fat">
                <span>Protein</span>
                <input class="protein" type="number" value="0" name="protein">
                <span>Category</span>
                <select name="category">
                    <option value="fruit">Fruit</option>
                    <option value="vegetables">Vegetable</option>
                    <option value="meat">Meat</option>
                    <option value="fish">Fish</option>
                    <option value="dairy">Dairy</option>
                    <option value="dairy_alt">Dairy Alternative(lactose free)</option>
                    <option value="bread">Bread</option>
                    <option value="pasta">Pasta</option>
                    <option value="dessert">Dessert</option>
                    <option value="other_grain">Other Grain</option>
                    <option value="beverage">Beverage</option>
                    <option value="vegan">Vegan</option>
                    <option value="other">Other</option>
                </select>
                <span>Quantity</span>
                <input type="number" id="snack" value="1" name="quantity">
                <span>Can we add this to our Public Database?</span>
                <select name="public">
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                </select>
                <button type="submit">Add Food</button>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='/js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/meal.js') }}"></script>
</body>
</html>