<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meals</title>
  <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="../static/images/HealthTrak-icon.svg" type="image/x-icon">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/calendar.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/track.css') }}">
  <script defer src="{{ url_for('static', filename='/js/mealToggler.js') }}"></script>
</head>
<body>

  <nav class="top-nav">

    <nav class="top-nav-inner">
        
        <img src="/static/images/HealthTrak-icon.svg" alt="HealthTrak Icon">
        <h1><span>Health</span><span>Trak</span></h1>
        <a href="/logout">Logout</a>
        
    </nav>

  </nav>



  <main id="all-meals">
    {% for m in meals %}
    <article id="{{m.name}}-content">
      
      <header class="meal-header">

        <h3>{{ m.name }}</h3>
        <img src="../static/images/plus-icon.svg" alt="Plus Icon">
        
      </header>
      
      <div class="dropdown">
      
        <p>{{ m.calories|round|int }} Calories</p>
        <img class="dropdown-img" data-alt-src="{{ m.name }}-display" src="../static/images/dropdown.svg" alt="Dropdown Icon">
      
      </div>
      
      <div class="meal-content">
        {% for meal in user.meals%}
          {% if meal.created_at.astimezone().strftime('%Y-%m-%d') == local_time.strftime('%Y-%m-%d') and meal.id == m.id %}
            {% for food in meal.food_items %}
              {% if food.created_at.astimezone().strftime('%Y-%m-%d') == local_time.strftime('%Y-%m-%d') %}
              <div class="{{ m.name }}-display food-content">

                <header class="food-header">

                  <p>{{ food.name }} </p>
                  <div class="food-img-container">
                    <a href="/fooditem/edit/{{ food.id }}">
                      <img src="../static/images/edit-icon.svg" alt="Edit Icon">
                    </a>
                    <a href="./fooditem/delete/{{food.id}}">
                      <img src="../static/images/close-white.svg" alt="White Close Icon">
                    </a>
                  </div>

                </header>

                <div class="calories-display">

                  <p>{{ food.calories|round|int }} Calories</p>

                </div>
                  
                <div class="food-nutrients">

                  <div class="fat-content">

                    <p>Fat</p>
                    <p>{{food.fat|round|int}}g</p>
                    
                  </div>

                  <div class="protein-content">

                      <p>Protein</p>
                      <p>{{ food.protein|round|int }}g</p>

                  </div>

                  <div class="carbs-content">

                      <p>Carbs</p>
                      <p>{{ food.carbs|round|int }}g</p>

                  </div>
                  
                </div>
              </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      
      </div>
    </article>
    {% endfor %}
  </main>

  <main id="meal-pop-outer">

    <section id="meal-pop">
      <h2>Hello</h2>
    </section>

  </main>












  <nav class="side-nav">
        
    <div class="icons">
        
        <a href="/dashboard">
            <img  src="/static/images/dash-icon.svg" alt="Dashboard Icon">
        </a>
    
        <a href="/mealtrack">
            <img src="/static/images/meals-icon.svg" alt="Meal Icon">
        </a>
        
        <a href="/calendar">
            <img src="/static/images/calendar-icon.svg" alt="Calendar Icon">
        </a>
        
        <a href="/fitness">
            <img src="/static/images/workout-icon.svg" alt="Workout Icon">
        </a>
        
        <a href="/settings">
            <img src="/static/images/settings-icon.svg" alt="Gear Icon">
        </a>

    </div>

</nav>




<nav class="bottom-nav">

    <a  href="/newDash">
        <img src="/static/images/dash-icon.svg" alt="Dashboard Icon">
    </a>


    <a class="active" href="#">
        <img src="/static/images/calendar-icon.svg" alt="Calendar Icon">
    </a>



    <a href="/mealtrack">
        <img src="/static/images/meals-icon.svg" alt="Meals Icon">
    </a>


    <a href="/fitness">
        <img src="/static/images/workout-icon.svg" alt="Workout Icon">
    </a>


</nav>
  
</body>
</html>