<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stats</title>
</head>
<body>
    <div class="stats-container">
        <form action="">
            <input id="calories_consumed" type="hidden" value="{{ log.calories_consumed }}">
            <input id="calories_burned" type="hidden" value="{{ log.calories_burned }}">
            <input id="daily_calories" type="hidden" value="{{ user.daily_calories }}">
        </form>
        <div class="chart-container">
            <canvas id="myChart"></canvas>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='/js/stats.js') }}"></script>
</body>
</html>