<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
</head>
<body>
    <form action="/workout/new" method="post">
        <h3>Create New Workout</h3>
        {% with workout_error = get_flashed_messages(category_filter = ["workout_error"]) %}
            {% if workout_error %}
                {% for work_err in workout_error %}
                    <p class="error">{{ work_err }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <input type="text" name="workout_name" placeholder="Name">
        <button type="submit">Create Workout</button>
    </form>
    <div class="workouts">
        {% with ex_error = get_flashed_messages(category_filter = ["ex_error"]) %}
            {% if ex_error %}
                {% for ex_err in ex_error %}
                    <p class="error">{{ ex_err }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% for w in workouts %}
            <div class="workout">
                <h3>{{ w.name }}</h3>
                <a href="/workout/delete/{{ w.id }}">Delete Workout</a>
                <ul>
                    {% for ex in w.exercises %}
                        <li>{{ ex.name }}</li>
                    {% endfor%}
                </ul>
                <p data-alt-src='{{ w.name }}'>Add Exercise</p>
                <form id='{{ w.name }}' action="/exercise/new" method="post">
                    <input type="hidden" name="workout_id" value="{{ w.id }}">
                    <input type="text" name="exercise_name" placeholder="Exercise Name">
                    <span>Duration</span>
                    <input type="number" name="hour" placeholder="Hour">
                    <input type="number" name="minutes" placeholder="Minutes">
                    <span>Category</span>
                    <select id="workout_category" name="category">
                        <option value="running">Running</option>
                        <option value="walking">Walking</option>
                        <option value="cycling">Cycling</option>
                        <option value="weight_lifting">Weight Lifting</option>
                        <option value="other">Other</option>
                    </select>
                    <div id="pace-div">
                        <span>Miles:</span>
                        <input type="number" value="1" name="miles">
                    </div>
                    <div id="lifting-div">
                        <span>Sets:</span>
                        <input type="number" value="1" name="sets">
                        <span>Reps:</span>
                        <input type="number" value="1" name="reps">
                    </div>
                    <div id="other-div">
                        <span>Description:</span>
                        <textarea name="desc"></textarea>
                    </div>
                    <input type="number" name="calories_burned" placeholder="Estimated Calories Burned">
                    <button type="submit">Add Exercise</button>
                </form>
            </div>
        {% endfor %}
    </div>
    <script src="{{ url_for('static', filename='/js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/workout.js') }}"></script>
</body>
</html>