<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../static/images/HealthTrak-icon.svg" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/calendar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/track.css') }}">
</head>
<body>

    <nav class="top-nav">

        <nav class="top-nav-inner">
            
            <img src="/static/images/HealthTrak-icon.svg" alt="HealthTrak Icon">
            <h1><span>Health</span><span>Trak</span></h1>
            <a href="/logout">Logout</a>
            
        </nav>

    </nav>





    <main id="workout-content">

        
        <form id="new-workout-form" action="/workout/new" method="post">
            
            <h3>Create New Workout</h3>

                {% with workout_error = get_flashed_messages(category_filter = ["workout_error"]) %}
                    {% if workout_error %}
                        {% for work_err in workout_error %}
                            <p class="meal-error">{{ work_err }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}


                {% with ex_error = get_flashed_messages(category_filter = ["ex_error"]) %}
                    {% if ex_error %}
                        {% for ex_err in ex_error %}
                            <p class="meal-error">{{ ex_err }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}


            
            <input type="text" name="workout_name" placeholder="Workout Name">
            
            <button type="submit">Create Workout</button>
            
            
        </form>
        
        
        <div class="workouts">

            {% for w in workouts %}
            
            
            <div class="workout">
                
                <header>
                    
                    <h3>{{ w.name }}</h3>
                    <a href="/workout/delete/{{ w.id }}"><img src="../static/images/close-white.svg" alt="White Close Icon"></a>
                    
                </header>

                <ul>
                    {% for ex in w.exercises %}
                    <li>
                        <div class="ex-content">

                            <article>
                                <p>Exercise</p>
                                <p>{{ ex.name }}</p>
                            </article>
                            
                            <article>
                                <p>Duration</p>
                                <p>{{ ex.duration|round|int }} Min</p>
                            </article>
                            
                            <article>
                                <p>Cals Burned</p>
                                <p>{{ ex.calories_burned|round|int }}</p>
                            </article>

                        </div>

                        <section>

                            <a href="/exercise/edit/{{ ex.id }}">
                                
                                <img src="../static/images/edit-icon.svg" alt="Edit Icon">

                            </a>

                            <a href="/exercise/delete/{{ ex.id }}">
                            
                                <img src="../static/images/close-white.svg" alt="White Close Icon">

                            </a>

                        </section>
                            
                    </li>
                    {% endfor%}
                </ul>

                <div class="flex">

                    <p data-alt-src='{{ w.name }}' class="add-ex">Add Exercise</p>
                </div>
                
                <form class="ex-form" id='{{ w.name }}' action="/exercise/new" method="post">
                    
                    <input type="hidden" name="workout_id" value="{{ w.id }}">
                    
                    <label>
                        Exercise Name
                        <input type="text" name="exercise_name">
                    </label>

                    <section class="duration-flex">

                        <label>
                            Hour
                            <input type="number" name="hour">
                        </label>
                        
                        <label>
                            Min
                            <input type="number" name="minutes">
                        </label>
                        
                    </section>
                    
                    <label>
                        Category
                        <select class="workout_category" name="category">
                            
                            <option value="running">Running</option>
                            
                            <option value="walking">Walking</option>
                            
                            <option value="cycling">Cycling</option>
                            
                            <option value="weight_lifting">Weight Lifting</option>
                            
                            <option value="other">Other</option>
                        </select>
                        
                    </label>

                    <div id="pace-div">
                        
                        <label>
                            Miles:
                            <input type="number" value="1" name="miles">
                        </label>

                    </div>
                    
                    <div id="lifting-div">
                        
                        <label>
                            Sets:
                            <input type="number" value="1" name="sets">
                        </label>
                            
                        <label>
                            Reps:
                            <input type="number" value="1" name="reps">
                        </label>
                        
                    </div>
                        
                    <div id="other-div">

                        <label>
                            Description:
                            <textarea name="desc"></textarea>
                        </label>
                        
                    </div>
                        
                    <label>
                        Calories Burned
                        <input type="number" name="calories_burned">
                    </label>
                        

                        
                        
                    
                    <div class="btn-meal-container">
                        <button type="submit">Add To Workout</button>
                    </div>
                    
                </form>
                
            </div>
            
            {% endfor %}
            
        </div>
        
    </main>







    <nav class="side-nav">
        
        <div class="icons">
            
            <a href="/dashboard">
                <img  src="/static/images/dash-icon.svg" alt="Dashboard Icon">
            </a>
        
            <a href="/meals">
                <img src="/static/images/meals-icon.svg" alt="Meal Icon">
            </a>
            
            <a href="/calendar">
                <img src="/static/images/calendar-icon.svg" alt="Calendar Icon">
            </a>
            
            <a class="active" href="#">
                <img src="/static/images/workout-icon.svg" alt="Workout Icon">
            </a>
            
            <a href="/settings">
                <img src="/static/images/settings-icon.svg" alt="Gear Icon">
            </a>

        </div>

    </nav>












    <nav class="bottom-nav">

        <a  href="/dashboard">
            <img src="/static/images/dash-icon.svg" alt="Dashboard Icon">
        </a>


        <a  href="/calendar">
            <img src="/static/images/calendar-icon.svg" alt="Calendar Icon">
        </a>



        <a href="/meals">
            <img src="/static/images/meals-icon.svg" alt="Meals Icon">
        </a>


        <a class="active" href="#">
            <img src="/static/images/workout-icon.svg" alt="Workout Icon">
        </a>


    </nav>



    <script src="{{ url_for('static', filename='/js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/workout.js') }}"></script>
</body>
</html>